/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --brand-color: #2196f3;
  --text-color: #757575;
  --alternative-text-color: #ffffff;
  --modal-text-color: #212121;
  --no-active-color: #afb1b8;
  --heading-color: #212121;
  --invalid-color: #f44336;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --body-background: #ffffff;
  --footer-social-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

/* -------------Reset------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------BASE------------- */
.advantage__title, .experience__title, .team__title, .client__title, .gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__button, .footer__form-button, .modal__form-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

.hero__button, .footer__form-button, .modal__form-button {
  color: var(--alternative-text-color);
  background: var(--brand-color);
  width: 200px;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--brand-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .footer__form-button:hover, .modal__form-button:hover, .hero__button:focus, .footer__form-button:focus, .modal__form-button:focus {
  transform: scale(1.02);
}

h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-image {
  display: block;
}

/* -------------Header------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding: 16px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 15px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: flex-start;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__decoration {
  color: var(--brand-color);
}

.menu-toggle {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  padding: 0;
  fill: currentColor;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
  }
}

.header__nav-item {
  position: relative;
}

.header__nav-item:not(:first-child) {
  margin-left: 50px;
}

.header__link, .header__link--active {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  text-decoration: none;
  padding: 32px 0 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link--active:hover, .header__link:focus, .header__link--active:focus {
  color: var(--brand-color);
}

.header__link--active {
  color: var(--brand-color);
}

.header__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    line-height: 1.2;
  }
}

.header__contacts-item:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:first-child) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* -------------Hero section------------- */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
.hero {
  background-color: var(--primary-background);
  text-align: center;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_mob.jpg");
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_mob.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_mob@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_mob@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_table.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_table@2x.webp");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table@2x.webp");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table@2x.webp");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_table@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_table@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_desktop.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero_desktop@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_desktop@2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

/* -------------Advantage section------------- */
@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    flex-wrap: unset;
  }
}

.advantage__item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .advantage__item {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.advantage__icon-wrapper {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advantage__name {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage__name {
    text-align: start;
  }
}

.advantage__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------Experience------------- */
.experience {
  display: none;
}

@media screen and (min-width: 1200px) {
  .experience {
    display: block;
  }
}

.experience__list {
  display: flex;
  justify-content: space-between;
}

.experience__item {
  position: relative;
}

.experience__img-overlay {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.experience__img-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin: 0;
}

/* -------------Team------------- */
.team {
  background: var(--secondary-background);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: unset;
  }
}

.team__item {
  background: var(--body-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.team-image {
  object-fit: contain;
}

.team__botoom-wrap {
  padding: 30px 0 30px 0;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.team__description {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  height: 44px;
  width: 44px;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--no-active-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--alternative-text-color);
  background-color: var(--brand-color);
}

.social-list__icon {
  fill: currentColor;
}

/* -------------Clients------------- */
.client__logo-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .client__logo-list {
    flex-wrap: unset;
  }
}

.client__logo-item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .client__logo-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.client__logo-link {
  height: 92px;
  border: 1px solid var(--no-active-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--no-active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo-link:hover, .client__logo-link:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.client__logo-icon {
  fill: currentColor;
}

/* -------------Footer------------- */
.footer {
  background-color: var(--primary-background);
}

.footer__container {
  padding: 60px 15px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__address-wrap {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    margin-bottom: 0;
  }
}

.logo--dark {
  color: var(--alternative-text-color);
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer__address {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--alternative-text-color);
  margin-bottom: 9px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts-link {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: var(--brand-color);
}

.footer__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin-bottom: 20px;
}

.social-list__link--dark {
  color: var(--alternative-text-color);
  background-color: var(--footer-social-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__form-label {
  display: block;
}

.footer__form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--alternative-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:not(:placeholder-shown):required:valid {
  border-color: var(--brand-color);
}

.footer__form-input:not(:placeholder-shown):required:invalid {
  border-color: var(--invalid-color);
}

@media screen and (min-width: 768px) {
  .footer__form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__form-button {
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__form-button {
    margin: 0 0 0 12px;
  }
}

.footer__form-icon {
  margin-left: 10px;
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--body-background);
  z-index: 999;
  padding: 48px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__list {
  margin-bottom: auto;
}

.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: var(--brand-color);
}

.mobile-menu__link--active {
  color: var(--brand-color);
}

.mobile-menu__contacts {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

/* -------------Modal------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 93%;
  min-height: 609px;
  padding: 40px;
  background: var(--body-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  color: var(--brand-color);
  cursor: pointer;
}

.modal__close-icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__form-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__form-heading {
    line-height: 1.2;
  }
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--text-color);
  padding-bottom: 4px;
  display: block;
}

.modal__form-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-input {
  display: block;
  width: 100%;
  /* height: 40px; */
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.modal__form-input:hover, .modal__form-input:focus {
  border-color: var(--brand-color);
  outline: none;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--modal-text-color);
}

.modal-form-input:hover + .modal-input-icon,
.modal-form-input:focus + .modal-input-icon {
  fill: var(--brand-color);
}

.modal__form-textarea {
  display: block;
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: var(--modal-text-color);
}

.modal__form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-textarea:hover, .modal__form-textarea:focus {
  border-color: var(--brand-color);
  outline: none;
}

.modal__terms-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__checkbox {
  fill: var(--alternative-text-color);
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  margin-right: 6px;
  border: 2px solid var(--modal-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-label:hover .modal__checkbox {
  border-color: var(--brand-color);
}

.modal__checkbox-label {
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__hidden-checkbox:focus + .modal__checkbox-label .modal__checkbox {
  border: 2px solid var(--brand-color);
}

.modal__hidden-checkbox:checked + .modal__checkbox-label .modal__checkbox {
  /* fill: var(--alternative-text-color); */
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  background: #2196f3;
  border-radius: 2px;
  border: none;
}

.modal__form-link {
  text-decoration-line: underline;
  color: var(--brand-color);
}

.modal__form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -------------Header------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding: 16px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 15px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: flex-start;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__decoration {
  color: var(--brand-color);
}

.menu-toggle {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover, .menu-toggle:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  padding: 0;
  fill: currentColor;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
  }
}

.header__nav-item {
  position: relative;
}

.header__nav-item:not(:first-child) {
  margin-left: 50px;
}

.header__link, .header__link--active {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  text-decoration: none;
  padding: 32px 0 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link--active:hover, .header__link:focus, .header__link--active:focus {
  color: var(--brand-color);
}

.header__link--active {
  color: var(--brand-color);
}

.header__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    line-height: 1.2;
  }
}

.header__contacts-item:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:first-child) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ***********Portfolio Gallery*********** */
.gallery__filter-list {
  margin-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .gallery__filter-list {
    margin-bottom: 34px;
  }
}

.filter-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin: -8px -8px 32px -8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item {
    margin: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list__item {
    margin: 0;
  }
  .filter-list__item:not(:first-child) {
    margin-left: 8px;
  }
}

.filter-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  background-color: var(--secondary-background);
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  color: var(--alternative-text-color);
  background: var(--brand-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: -15px;
  }
}

.gallery-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list__item:hover, .gallery-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .gallery-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery-list__item-box {
  position: relative;
  overflow: hidden;
}

.gallery-list__item-img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.gallery-list__item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.gallery-list__overlay-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--alternative-text-color);
}

.gallery-list__item-link:hover .gallery-list__item-overlay,
.gallery-list__item-link:focus .gallery-list__item-overlay {
  transform: translateY(0);
}

.gallery-list__item-bottom {
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  padding-top: 20px;
}

.gallery-list__item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.gallery-list__item-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------Footer------------- */
.footer {
  background-color: var(--primary-background);
}

.footer__container {
  padding: 60px 15px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__address-wrap {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    margin-bottom: 0;
  }
}

.logo--dark {
  color: var(--alternative-text-color);
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer__address {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--alternative-text-color);
  margin-bottom: 9px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts-link {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: var(--brand-color);
}

.footer__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin-bottom: 20px;
}

.social-list__link--dark {
  color: var(--alternative-text-color);
  background-color: var(--footer-social-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__form-label {
  display: block;
}

.footer__form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--alternative-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:not(:placeholder-shown):required:valid {
  border-color: var(--brand-color);
}

.footer__form-input:not(:placeholder-shown):required:invalid {
  border-color: var(--invalid-color);
}

@media screen and (min-width: 768px) {
  .footer__form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__form-button {
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__form-button {
    margin: 0 0 0 12px;
  }
}

.footer__form-icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */