/* -------------Advantage section------------- */

.advantage {
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.advantage__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}

.advantage__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.advantage__icon-wrapper {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advantage__title {
  @extend %title;
}

.advantage__name {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
