/* -------------Modal------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--body-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--brand-color);
    cursor: pointer;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__form-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-text-color);
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--text-color);
  padding-bottom: 4px;
  display: block;
}

.modal__form-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-input {
  display: block;
  width: 100%;
  /* height: 40px; */
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  &:hover,
  &:focus {
    border-color: var(--brand-color);
    outline: none;
  }
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--modal-text-color);
}

.modal-form-input:hover + .modal-input-icon,
.modal-form-input:focus + .modal-input-icon {
  fill: var(--brand-color);
}

.modal__form-textarea {
  display: block;
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: var(--modal-text-color);
  &::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--brand-color);
    outline: none;
  }
}

.modal__terms-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__checkbox {
  fill: var(--alternative-text-color);
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  margin-left: 12px;
  margin-right: 9px;
  border: 2px solid var(--modal-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-label:hover .modal__checkbox {
  border-color: var(--brand-color);
}

.modal__checkbox-label {
  // margin-left: 1px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__hidden-checkbox:focus + .modal__checkbox-label .modal__checkbox {
  border: 2px solid var(--brand-color);
}

.modal__hidden-checkbox:checked + .modal__checkbox-label .modal__checkbox {
  /* fill: var(--alternative-text-color); */
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;
  background: #2196f3;
  border-radius: 2px;
  border: none;
}

.modal__form-link {
  text-decoration-line: underline;
  color: var(--brand-color);
}

.modal__form-button {
  @extend %button;
  @extend %button--primary;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
