/* -------------Team------------- */

.team {
  background: var(--secondary-background);
}

.team__title {
  @extend %title;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}

.team__item {
  background: var(--body-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.team-image {
  @extend %no-gap;
  object-fit: contain;
  // width: 100%;
}

.team__botoom-wrap {
  padding: 30px 0 30px 0;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.team__description {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  height: 44px;
  width: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-list__link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--no-active-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--alternative-text-color);
    background-color: var(--brand-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
