/*-------------BASE------------- */

%title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

%button--primary {
  color: var(--alternative-text-color);
  background: var(--brand-color);
  width: 200px;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--brand-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

%no-gap {
  display: block;
}
